body {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  height: 100vh;
}

.container{
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px rgb(0,0,0,0.2);
  padding: 20px;
  margin:20px
}
.container img {
  width: 40%;
}

.container a {
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  color: red;
  cursor: pointer;
  font-weight: 700;
}